{% extends 'base.html' %}
{%block content%}

{% if record %}

    <div class="card shadow-lg mb-5 bg-body rounded">
        <div class="card-header text-bg-dark">
            <h3>Customer Detail</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{record.first_name}} {{record.last_name}}</h5>
            <p class="card-text">
                <ul>
                    <li>{{record.first_name}} Lives in {{record.city}}.</li>
                    <li><strong>Address</strong>: {{record.address}}, {{record.city}}, {{record.state}}, {{record.country}}.</li>
                    <li><strong>Email</strong>: {{record.email}}</li>
                </ul>
            </p>
            <div class = "position-relative">
            <a href="{% url 'home' %}" class="btn btn-outline-dark">Back</a>
            <a href="{% url 'update_record' record.id %}" class="btn btn-outline-primary">Update Record</a>
            <a href="{% url 'delete_record' record.id %}" class="btn btn-outline-danger position-absolute bottom-0 end-0">Delete</a>
            </div>
        </div>
  </div>

{% endif %}



{% endblock %}