{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">

<div class = "card">
<div class = "card-header text-bg-dark"><h3>Update Record</h3></div>
<div class = "card-body">
<form method="POST">
	{% csrf_token %}

	{{ form.as_p }}

<div class = position-relative>
  <button type="submit" class="btn btn-outline-success">Save</button>
   <a href="{% url 'home' %}" class="btn btn-outline-danger position-absolute bottom-0 end-0" >Cancel</a>
</div>
</form>
</div>
</div>

</div>

{% endblock %}